html, body {
   margin:0;
   font-family:Arial, Helvetica, sans-serif;
}

.hidden {
    display:none;
}

.gui-image {
    user-select:none;
}

.gui-wrapper {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    display:flex;
    flex-direction: column;
}

.gui-header {
    display:flex;
    background:#eee;
    border-bottom:1px #ccc solid;
}

.gui-header > * {
    margin:5px;
}

.gui-header-icon {
    width:24px;
    height:24px;
}

.gui-menu-bar {
    display:flex;
}

.gui-menu-bar > .gui-menu-item {
    margin-right:5px;
}

.gui-menu-item {
    user-select:none;
    white-space:nowrap;
}

.gui-menu-tab {
    position:relative;
    display:flex;
}

.gui-menu-tab-dropdown {
    position:absolute;
    top:100%;
    left:0px;
    background:#ccc;
    padding:5px;
    border-radius:5px;
    z-index:10;
    box-shadow:1px 1px 4px 2px #00000020;
}

.gui-menu-button {
    padding:2px 5px;
    background:#ccc;
    cursor:default;
    border-radius:3px;
}
.gui-menu-button:hover {
    background:#aaa;
}
.gui-menu-button:active {
    background:#888;
}

.gui-content {
    display:flex;
    flex-grow:1;
}

.gui-backdrop {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    z-index:5;
}
